.app-header {
  background-color: #a2bef4;
  text-align: center;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.python-container-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: auto;
  width: 600px;
}

#canvas-container {
  display: flex;
}

#canvas {
  margin: auto;
}

